.formContainer {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerOne {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.formField {
    margin-bottom: 15px;
}

.labelFields {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
    color: #333333;
}

.input:focus {
    outline: none;
    border-color: #0056b3;
}
.error {
    color: red;
    font-size: 12px;
}

.submitBtn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: #0056b3;
}

.submitBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.backBtn{
    background: #007bff;
    border-radius: 5px;
    padding: 10px;
}